/* Set the background color to #007FFF */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a609b;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.grid-header {
  background-color: #f0a30a;
  color: white;
  padding: 10px;
}

.text-field-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Adjust gap for spacing between elements */
}

.default-btn {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainHeader {
  font-family: "Roboto";
  color: #f0a30a;
  text-align: center;
  font-size: 60px;
}

h3 {
  font-family: "Roboto", sans-serif;
}
